<form>
    <div ng-repeat="elem in form" >
        
        <div class="form-group" ng-if="elem.type == 'text'">
            <label>{{elem.text}}</label>
            <input type="text" class="form-control"  placeholder="{{elem.placeholder}}" ng-model="elemform[elem.slug]" />
        </div>
        <div class="custom-control custom-switch" ng-if="elem.type == 'switch'">
            <input type="checkbox" class="custom-control-input" ng-model="elemform[elem.slug]">
            <label class="custom-control-label" for="customSwitch1" ng-click="changeelement(elem.slug)" >{{elem.text}}</label>
            <br>
            <br>
        </div>
        <div class="form-group" ng-if="elem.type == 'textarea'">
            <label>{{elem.text}}</label>
            <ng-quill-editor 
                ng-model="elemform[elem.slug]" 
                on-editor-created="editorCreated(editor)" 
                on-content-changed="contentChanged(editor, html, text)"
                >
            </ng-quill-editor>
        </div>
        <div class="" ng-if="elem.type == 'datepicker'">
            <label>{{elem.text}}</label>
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="elemform[elem.slug]" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>  
        <multi-text-input text="elem.text" ng-if="elem.type == 'multitextinput'" ng-model="elemform[elem.slug]" ></multi-text-input>
        <multi-checkbox text="elem.text"  ng-if="elem.type == 'multicheckbox'" ng-model="elemform[elem.slug]" list="elem.list"></multi-checkbox>
        <table-data-fmf 
            text="elem.text"  
            ng-if="elem.type == 'tabledatafmf'" 
            ng-model="elemform[elem.slug]" 
            headerlist="elem.headerlist" 
            list="elem.list" 
            template="elem.template"
            form="elem.form">            
        </table-data-fmf>
        
    </div>
    <button type="button" ng-click="send({dataform:elemform})" class="btn btn-primary btn-xs" >Submit</button>
</form>
