<div class="table-responsive">
    <table id="myTable" class="table table-bordred table-striped table-fmf" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Edit</th>
                <th>Delete</th>
                <th ng-repeat="item in headerlist">{{item.name}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="elem in itemlist" ng-if="!ifInteractive">
                <td>
                    <p data-placement="top" data-toggle="tooltip" title="Edit">
                        <button class="btn btn-primary btn-sm btn-edit" data-title="Edit" data-toggle="modal" data-target="#edit" ng-click = "edit({index:$index})" >
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </p>
                </td>
                <td>
                    <p data-placement="top" data-toggle="tooltip" title="Delete">
                        <button class="btn btn-danger btn-sm btn-delete" data-title="Delete" data-toggle="modal" data-target="#delete" ng-click = "delete({index:$index})" >
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </p>
                </td>
                <td ng-repeat="item in headerlist">{{elem[item.value]}}</td>
            </tr>
            <tr ng-repeat="elem in $parent.ngModel" ng-if="ifInteractive">
                <td>
                    <p data-placement="top" data-toggle="tooltip" title="Edit">
                        <button class="btn btn-primary btn-sm btn-edit" data-title="Edit" data-toggle="modal" data-target="#edit" ng-click = "edit({index:$index})" >
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </p>
                </td>
                <td>
                    <p data-placement="top" data-toggle="tooltip" title="Delete">
                        <button class="btn btn-danger btn-sm btn-delete" data-title="Delete" data-toggle="modal" data-target="#delete" ng-click = "delete({index:$index})" >
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </p>
                </td>
                <td ng-repeat="item in headerlist">{{elem[item.value]}}</td>
            </tr>
        </tbody>
    </table>
</div>